nav.main-menu {
    display: none;
    margin-top: 16px;
    box-shadow: 0 4px 8px $darkish;
    overflow: hidden;

    div {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 50px;
    }

    a {
        display: block;
        padding: 21px 16px 21px;
        font-family: 'Fira Sans', sans-serif;
        font-size: 18px;
        text-decoration: none;
        margin-bottom: 1px;

        &:hover {
            background: $green;
            color: $white;
        }
    }

    .current-menu-item, .current_page_ancestor {
        a {
            border-bottom: 4px solid $green;
            padding-bottom: 17px;
        }
    }

    ul > li {
        float: left;

        &:first-child > a {
            padding-left: 0;
        }

        &:hover {
            > ul.sub-menu {
                display: block;
                li {
                    display: block;
                    float: none;
                }
                a {
                    padding: 16px 8px 16px 8px;
                    border-bottom: none;
                    margin-bottom: 0;

                    &:hover {
                        padding-left: 6px;
                        border-left: 2px solid $green;
                    }
                }

                li.current-menu-item a {
                    padding-left: 6px;
                    border-left: 2px solid $green;
                }
            }
        }
    }

    /* submenu hiding */
    ul > li > ul.sub-menu {
        display: none;
        position: absolute;
        background: $white;
        box-shadow: 0 4px 8px $darkish;
        /*display: block;*/
    }

    @include susy-media($tabletLandscape) {
        display: block;
    }

    @include susy-media($desktop) {
        margin-top: 0;
    }
}

