.mob-menu {
    text-align: right;

    nav {
        top: $mobMenuHeight;
        position: absolute;
        background: $white;
        width: 300px;
        z-index: 10;
        bottom: 0;
        right: 0;
        text-align: left;
        overflow: auto;
        transform: translate3d(300px, 0, 0);
        transition: transform 0.3s;
        -webkit-overflow-scrolling: touch;
    }

    ul li {
        position: relative;

        > div._btn-cat {
            position: absolute;
            width: 54px;
            height: 54px;
            top: 0;
            right: 0;
            background: $grey;
            color: $white;
            cursor: pointer;

            &:after {
                line-height: 18px;
                content: "-";
                font-size: 32px;
                position: absolute;
                top: calc(50% - 10px);
                left: calc(50% - 5px);
            }
        }

        &._hide > div._btn-cat {
            &:after {
                content: "+";
                top: calc(50% - 8px);
                left: calc(50% - 8px);
            }
        }
    }

    ul a {
        display: block;
        padding: 16px 8px;
        border-bottom: 1px solid $lightGrey;
        border-left: 4px solid $white;
        text-decoration: none;

        &:hover {
            border-left: 4px solid $green;
        }
    }

    li.current_page_parent > a {
        border-left: 4px solid $green;
    }

    li.current-menu-item a {
        border-left: 4px solid $green;
    }

    ul > li > ul  a {
        padding-left: 32px;
    }

    ul > li._hide {
        ul {
            display: none;
        }
    }


}

body._show-mob-menu {
    overflow: hidden;
    .mob-menu nav {
        transform: translate3d(0, 0, 0);
    }
}

.mobile-menu-hamburger {
    position: absolute;
    top: 0;
    height: $mobMenuHeight;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: right;
    background: $lightGrey;

    @include susy-media($tabletLandscape) {
        display: none;
    }

    button {
        padding: 0;
        border: none;
        background: url(images/icn-hamburger.svg) no-repeat 50%;
        overflow: hidden;
        text-indent: -999em;
        width: 48px;
        height: 48px;
        line-height: 0;

        ._show-mob-menu & {
            background: url(images/icn-cross.svg) no-repeat 50%;
        }
    }
}