.mob-menu {
    height: 30px;
    background: yellow;
    text-align: right;

    nav {
        top: 30px;
        position: absolute;
        background: wheat;
        width: 300px;
        z-index: 10;
        bottom: 0;
        right: 0;
        text-align: left;
    }

    ul li {
        position: relative;

        > div._btn-cat {
            position: absolute;
            width: 54px;
            height: 54px;
            top: 0;
            right: 0;
            background: #4b53ff;
            color: green;
            cursor: pointer;

            &:after {
                line-height: 18px;
                content: "+";
                font-size: 32px;
                position: absolute;
                top: calc(50% - 8px);
                left: calc(50% - 8px);;
            }
        }
    }

    ul a {
        display: block;
        padding: 16px 8px;
        border-bottom: 1px solid red;
        text-decoration: none;
    }

    ul > li > a {

    }

    ul > li > ul {
        display: none;
    }
}