// ---------------------------------------------------------------------------
// Imports

/** ---------------------------------
*       =Basic Grid
*   ---------------------------------
*/


$total-columns  : 4;
$column-width   : 40px;
$gutter-width   : 10px;
$grid-padding   : $gutter-width;
$container-style: fluid;

$show-grid-backgrounds  : true;


/** ---------------------------------
*       =Basic Colors
*   ---------------------------------
*/
    //Theme colours for Borders, Titles
    $base-color : #334353;

/** ---------------------------------
*       =WordPress Core
*   ---------------------------------
*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img {
    &.alignright {
        float: right;
        margin: 5px 0 20px 20px;
    }
    &.alignnone {
        margin: 5px 20px 20px 0;
    }
    &.alignleft {
        float: left;
        margin: 5px 20px 20px 0;
    }
    &.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
    &.alignnone, &.alignleft {
        margin: 5px 20px 20px 0;
    }
    &.alignright {
        margin: 5px 0 20px 20px;
    }
    img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }
    p.wp-caption-text {
        font-size: 11px;
        line-height: 17px;
        margin: 0;
        padding: 0 4px 5px;
    }
}

.left-col .postImage img {
    border: 1px solid #304050;
    margin-top: 4px;
    padding: 1px;
}
div.byline {
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 20px;
    text-align: right;
    span {
        color: #788A91;
    }
}
.widget p {
    font-size: 0.9em;
}

    /** ---------------------------------
    *       TYPOGRAPHY
    *   ---------------------------------
    */
h1,h2{
    color: #434696;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Rouge Script', cursive;
}

h1 a,
h2 a {
    text-decoration: none;
}
.indexTemplate h1,
.indexTemplate h2 {
    margin-bottom: 20px;
}
h1 {font-size: 2.4em; font-weight: normal; font-style: italic;}
h2 {font-size: 2em;}
h3 {font-size: 1.1em;}
.post h3 {
    margin-top: 30px;
}

.naviBreadcrumb a {
    color: red;
}
a {
    color: #425564;
}
a:hover {
    color: #434696;
}
div, p, span {
    color: #1F3145;
}


#mediaIcons {
    overflow: hidden;
    width: 100%;
    a {
        color: #FFFFFF;
        float: right;
        font-size: 20px;
        margin: 2px;
        text-decoration: none;
        &:hover {
            color: red;
        }
    }
}
textarea, input {
    width: 98%;
}
input[type=submit] {
    padding: 4px 10px;
    width: auto;
}


